:javascript
  mixpanel.track("Splash Page Visited");

= image_tag('Uniqkid_logo_final.png', id: 'logo')

%p Uniqkid is a private non-for-profit* educational and recreational facility, dedicated to building high quality social skills programs for the community, with special needs. Our facility is designed to immerse children and young adults of all ages in interactive programs that give opportunities and a voice to all participants. Our goal is to engage youth with special needs in social and recreational activities where they can establish lasting results and reach their individual potentials.
%br
*Non-for-Profit Statues Pending*

%form{id: 'signup-form'}
  %input{type: 'email', placeholder: 'Signup for the newsletter', required: 'required'}
  %input{type: 'submit', value: '☺', id: 'signup-button'}

%ul{id: 'social-media'}
  = link_to image_tag('facebook.svg'), 'http://www.facebook.com/uniqkid/', target: 'blank'
  = link_to image_tag('pinterest.svg'), 'http://www.pinterest.com/uniqkid/', target: 'blank'
  = link_to image_tag('tumblr.svg'), 'http://uniq-kid.tumblr.com', target: 'blank'