:javascript
  mixpanel.track("Splash Page Visited");

= image_tag('Uniqkid_logo_final.png', id: 'logo')

%p Uniqkid is a private non-for-profit* educational and recreational facility dedicated to building social skills for those in the special needs community. Our center is designed for children, youth, and young adults. We believe that every child can develop the skills they need for the future through interactive programming utilizing academics, sports, and other alternative approaches, along with virtually connected programs encompassing digital tracking and progress reports. Our goal is to engage everyone who walks through our doors by targeting realistic concerns and needs. We aim to apply our personalized programming to help everyone - be it child, teen, or young adult - reach their highest individual potential
%br
*Pending Status*

%form{id: 'signup-form'}
  %input{type: 'email', placeholder: 'Signup for the newsletter', required: 'required'}
  %input{type: 'submit', value: '☺', id: 'signup-button'}

%ul{id: 'social-media'}
  = link_to image_tag('facebook.svg'), 'http://www.facebook.com/uniqkid/', target: 'blank'
  = link_to image_tag('pinterest.svg'), 'http://www.pinterest.com/uniqkid/', target: 'blank'
  = link_to image_tag('tumblr.svg'), 'http://uniq-kid.tumblr.com', target: 'blank'